html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.purple-snackbar {
    background: #673ab7;
    color: white;
}

.red-snackbar {
    background: #e42e40;
    color: white;
}

.mat-simple-snackbar-action {
    color: white !important;
}